form {
    text-align: center;
}

input[type="submit"] {
    padding: 6px;
    margin-top: 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
}

.history {
    margin-left: 10%;
    margin-right: 10%;
}

.nav a {
    font-weight: bold;
    color: #172B4D;
}

.branch {
    color: #333;
    border-radius: 3px;
}

.repository {
    background: #f5f5f5;
    font-size: 13px;
    border: 1px solid #ccc;
    padding: 4px 4px 4px 22px;
    margin: 0 3px 3px;
    font-family: Courier,"Courier New",monospace;
    height: 16px;
    line-height: 16px;
    border-radius: 3px;
    vertical-align: middle;
}

.commit_files_container  {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Courier,"Courier New",monospace;
};

.nav  {
    margin-bottom: 10px;
}

.commit {
    border-radius: 3px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 74px;
    vertical-align: bottom;
}

.publish {
    color: #707070 !important;
    font-size: 12px !important;
}

.commit_details {
    background-color: #f5f5f5;
    padding: 20px;
}
